# R project settings / history / package meta
.Rproj.user
.Rhistory
.RData
inst/doc
doc
Meta

# VS code workspace settings
.vscode

# Python byte-compiled / optimized / DLL files
__pycache__/

# Local pkgdown directories for test site builds
docs/
articles/
/doc/
/Meta/
data-raw/primarycare_codings
